:root {
    --icon-tray-columns: 5;
    --border: #202020 1px solid;

    --box-deco-padding-vert: 25px;
    --box-deco-padding-horiz: 30px;

    --featured-project-height: 200px;

    --text-color: #868686;

    --gray-med: #151515;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: var(--text-color);
    line-height: 1.4;
}

p > br {
    content: "";
    display: block;
    margin-bottom: 1em;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--gray-med);
}

.grid {
    display: grid;
    grid-template-columns: 100px 300px 300px 100px;
    /*grid-template-rows: 350px 150px 150px;*/
    grid-gap: 20px;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.box-deco {
    border: var(--border);
    border-radius: 11px;
    padding: var(--box-deco-padding-vert) var(--box-deco-padding-horiz);
    background-color: #111111;
}

.box-deco:has(.icon-tray) {
    padding-bottom: var(--box-deco-padding-horiz);
}
.icon-tray {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--icon-tray-columns), 1fr);
    grid-gap: 10px;
}
.icon-tray:not(:last-of-type) {
    margin-bottom: 30px;
}
.icon-tray > i {
    color: white; /*var(--text-color);*/
    text-align: center;
    object-fit: contain;
    aspect-ratio: 1;
    width: 100%;
}
.icon-tray > img {
    width: 100%;
    filter: invert(100%); /* invert(52.34375%);*/
    pointer-events: none;
    user-select: none;
}

.featured-project {
    position: relative;
    height: calc(37px + var(--featured-project-height));
    overflow: hidden;
    padding: 10px 15px;
}

.featured-project > a {
    width: 100%;
    height: var(--featured-project-height);
    position: absolute;
    border-top: var(--border);
    background: linear-gradient(45deg, rgba(109,6,149,1) 0%, rgba(198,33,230,1) 100%);
    bottom: 0;
    left: 0;
}

.featured-project > a > h1 {
    margin: 10px 15px;
}

.contact-form {
    padding: 10px 15px 15px;
}

.contact-form > h1 {
    margin-bottom: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
label {
    color: var(--text-color);
    height: 0;
    z-index: 3;
    transform: translateY(8px) translateX(8px);
    transition: 0.4s;
    user-select: none;
}
.form-group:has(.input:focus) > label, .form-group:has(.input:not(:placeholder-shown)) > label {
    transition: 0.4s;
    transform: translateY(-6px) translateX(8px);
    font-size: 0.7rem;
}
.input {
    border: var(--border);
    background-color: var(--gray-med);
    padding: 8px 8px;
    border-radius: 3px;
    color: white;
    font-weight: 200;
}
.form-group:last-child .input {
    resize: vertical;
    height: 100px;
    min-height: 15px;
}
.form-group:not(:last-child) .input {
    height: 15px;
    margin-bottom: 15px;
    resize: none;
}
.input:focus {
    outline: none;
}