body {
    background-color: var(--gray-med);
    overflow-x: hidden;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 50%);
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*margin-top: 40vh;*/
    margin-bottom: 40vh;
}
.grid-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-items: flex-end;
}
.grid-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box-deco {
    border: var(--border);
    border-radius: 11px;
    padding: var(--box-deco-padding-vert) var(--box-deco-padding-horiz);
    background-color: var(--gray-dark);
    margin: 10px;
}
.box-deco p > a {
    color: #4c4cd2;
}
.box-deco .blurb {
    /*padding-left: 10px;*/
    /*border-left: var(--gray-light) 5px solid;*/
    /*border-radius: 5px;*/
}
/*.box-deco .blurb:before {*/
/*    content: '';*/
/*    display: block;*/
/*    !*position: absolute;*!*/
/*    height: 150px;*/
/*    width: 5px;*/
/*    background-color: red;*/
/*}*/
.box-width-1 {
    width: var(--box-width-1);
}
.box-width-2 {
    width: var(--box-width-2);
}
.box-thick-padding {
    padding: var(--box-deco-thick-padding-vert) var(--box-deco-thick-padding-horiz);
}