body {
    display: flex;
    justify-content: center;
    background-color: var(--gray-med);
}

.grid {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 40vh;
    margin-bottom: 40vh;
}
.grid-left {
    align-items: flex-end;
}
.grid-right {}

.box-deco {
    border: var(--border);
    border-radius: 11px;
    padding: var(--box-deco-padding-vert) var(--box-deco-padding-horiz);
    background-color: #111111;
    margin: 10px;
}
.box-width-1 {
    width: var(--box-width-1);
}
.box-width-2 {
    width: var(--box-width-2);
}
.box-thick-padding {
    padding: var(--box-deco-thick-padding-vert) var(--box-deco-thick-padding-horiz);
}