:root {
    --icon-tray-columns: 5;
    --border: #202020 1px solid;

    --box-deco-padding-vert: 10px;
    --box-deco-padding-horiz: 15px;
    --box-deco-thick-padding-vert: 25px;
    --box-deco-thick-padding-horiz: 30px;

    --featured-project-height: 200px;

    --text-color: #868686;

    --gray-med: #151515;

    --box-width-1: 300px;
    --box-width-2: 400px;
}